// Fabrx Font Family Variables
$opensans-font-family: 'Open Sans', sans-serif;;
$montserrat-font-family: 'Montserrat', sans-serif;

// Fabrx Color Variables
$dark: #3F3B3B;
$primary: #0D6EFD;
$secondary: #807E7E;
$danger: #DC3545;
$success: #2ED477;
$warning: #FF9138;
$warning-light: #FCD287;
$warning-light-hover: #F8BF59;
$btn-warning: #ff7200;
$dark-100: #121212;
$dark-600: #4c4c4c;
$dark-500: #3C3C3C;
$dark-800: #3c3b3b;
$purple: #6f42c1;
$purple-light: #6742b7;
$blue-dark: #091119;
$info: #0dcaf0;
$light: #f8f9fa;
$blue-50: #E6F0FF;
$blue-100: #A8CBFE;
$blue-200: #81B4FE;
$blue-300: #5A9CFE;
$blue-400: #3485FD;
$blue-500: #0D6EFD;
$blue-600: #0B5CD5;
$blue-700: #094BAC;
$blue-800: #073984;
$blue-900: #05285B;
$indigo-50: #E9DDFD;
$indigo-100: #C8A9FA;
$indigo-200: #AF83F8;
$indigo-300: #975CF6;
$indigo-400: #7E36F4;
$indigo-500: #6610F2;
$indigo-600: #560DCB;
$indigo-700: #450BA5;
$indigo-800: #35087E;
$indigo-900: #250657;
$purple-50: #E9DDFF;
$purple-100: #CBBBE9;
$purple-200: #B49DDF;
$purple-300: #9D7ED5;
$purple-400: #8660CB;
$purple-500: #6F42C1;
$purple-600: #5D37A2;
$purple-700: #4B2D83;
$purple-800: #3A2264;
$purple-900: #281845;
$pink-50: #FFDDEE;
$pink-100: #F0B6D3;
$pink-200: #EA95BF;
$pink-300: #E374AB;
$pink-400: #DD5498;
$pink-500: #B42B6F;
$pink-600: #B42B6F;
$pink-700: #92235A;
$pink-800: #6F1B45;
$pink-900: #4D1230;
$red-50: #FFE0E3;
$red-100: #F2B6BC;
$red-200: #ED969E;
$red-300: #E77681;
$red-400: #E25563;
$red-500: #DC3545;
$red-600: #B92D3A;
$red-700: #96242F;
$red-800: #721C24;
$red-900: #4F1319;
$orange-50: #FFEAD8;
$orange-100: #FED1AA;
$orange-200: #FEBC85;
$orange-300: #FEA75F;
$orange-400: #FD933A;
$orange-500: #FD7E14;
$orange-600: #D56A11;
$orange-700: #AC560E;
$orange-800: #84420A;
$orange-900: #5B2D07;
$yellow-50: #FBF0CD;
$yellow-100: #FFE9A6;
$yellow-200: #FFDF7E;
$yellow-300: #FFD556;
$yellow-400: #FFCB2F;
$yellow-500: #FFC107;
$yellow-600: #D6A206;
$yellow-700: #AD8305;
$yellow-800: #856404;
$yellow-900: #5C4503;
$green-50: #DCF4E1;
$green-100: #ACD4C1;
$green-200: #87C1A6;
$green-300: #63AD8B;
$green-400: #3E9A6F;
$green-500: #198754;
$green-600: #157147;
$green-700: #115C39;
$green-800: #0D462C;
$green-900: #09311E;
$teal-50: #DCFFF5;
$teal-100: #AFECDA;
$teal-200: #8BE3C9;
$teal-300: #67DAB8;
$teal-400: #44D2A8;
$teal-500: #20C997;
$teal-600: #1BA97F;
$teal-700: #168967;
$teal-800: #11694F;
$teal-900: #0C4836;
$cyan-50: #DAFBFF;
$cyan-100: #A8ECFA;
$cyan-200: #81E3F7;
$cyan-300: #5ADBF5;
$cyan-400: #34D2F2;
$cyan-500: #0DCAF0;
$cyan-600: #0BAACA;
$cyan-700: #0989A3;
$cyan-800: #07697D;
$cyan-900: #054956;
$gray-100: #FAFAFB;
$gray-200: #F5F5F5;
$gray-300: #EAEAEA;
$gray-400: #C4C4C4;
$gray-500: #807E7E;
$gray-600: #605F5F;
$gray-700: #3F3B3B;
$gray-800: #212121;
$gray-900: #121212;
$gray-light: #606170;
$success-light: #4EE0BC;
$secondary-900: #303133;
$danger-100: #FFCCCC;
$danger-200: #F89595;
$danger-300: #F67878;
$danger-500: #C54E4E;
$danger-600: #9C3E3E;
$success-100: #C6FFDF;
$success-200: #9CFFC8;
$success-300: #5FDD97;
$success-400: #41E187;
$success-500: #27B264;
$success-600: #1F9050;
$warning-100: #FFD5B3;
$warning-200: #FEBB83;
$warning-300: #FFA65E;
$warning-500: #DC7D30;
$warning-600: #B86927;
$shade-100: #f6faff;
$shade-200: #ebf4ff;
$shade-300: #97c3ff;
$shade-400: #59a0ff;
$shade-600: #085ed0;
$brand-1: #ECF1F8;
$brand-2: #203956;
$brand-5: #232E7B;
$brand-6: #FF3636;
$brand-7: #FED385;
$brand-8: #FFE5CD;
$brand-9: #FB5858;
$brand-11: #3c468b;
$dark-link: #333333;
$btn-light: #E1E1E1;
$btn-thin-light: #f3f3f3;
$tooltip-bg: #363A40;
$muted: #52647C;
$primary-light: #4b99ff;
$primary-light2: #80b7ff;
$danger-light: #ff9d9d;
$danger-light2: #ff8a8a;
$danger-light3: #ee656f;
$success-light2: #5bc188;
$success-light3: #6beaa3;
$warning-light2: #fdb881;
$warning-light3: #ffb87f;
$warning-light4: #FFB36B;
$secondary-dark2: #757575;
$tints: #38e0c5;
$pink-light: #bc5980;
$secondary-light: #EBECEC;
$secondary-light-300: #E6E6E6;
$secondary-dark-500: #9A9C9F;
$primary-light-300: #ADD0FF;
$dark-light-border: #5A5A5A;
$green-light-border: #74EACF;
$secondary-light-100:#f0f0f1;
$secondary-light-200:#E9E9E9;
$secondary-light-600:#888888;
$secondary-light-400:#DDDCDC;
$danger-light-500:#FF6565;
$primary-dark-500:#445161;
$dark-700: #404040;
$blue-dark-700: #082054;
$blue-dark-800: #1c2d50;
$gray-light-350: #3a3a3a;
$gray-light-100: #f9f9f9;
$gray-light-300: #cccccc;
$gray-light-200: #dededf;
$gray-light-400: #eeeeef;
$gray-light-500: #d8d8d8;
$gray-dark-600: #444444;
$info-light: #38dfc5;
$black-800: #131415;
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$info-dark: #2f6f9f;
$info-dark-200: #4f9fcf;
$danger-light-100: #d44950;
$dark-blue-100: #f0f0f3;
$info-800: #17a2b8;
$black-900:#0A0A0A;
$dark-600: #959ea9;
$info-400: #4bbde1;
$purple-light: #6871B6;
$teal-light: #41E1C0;
$black-light: #474747;
$danger-dark: #A54343;
$danger-lighter: #E73535;
$green-light: #ceff98;
$pink-lighter: #FFC9BA;
$black-700: #2b2a2d;

// Fabrx Font Weight Variables
$font-weight-medium: 500;
$font-weight-100: 100;
$font-weight-semibold: 600;
$font-weight-bold: bold;
$font-weight-normal: 400;

$transition: all ease .4s;