<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="author" content="{{ page.author | default: 'City of Griffin DDA - Jason Chance' }}" />
<title>{{ page.title | default: site.title }}</title>
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<link href="{{ '/css/styles.css' | relative_url }}" rel="stylesheet" />
{% if page.lightgallery %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css" />
{% endif %}
